/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kristi&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}
a{
    text-decoration: none;
}
ul li{
    list-style: none;
}

:root{
    --primary-color: #CAAC66;
    --text-color: #FAE9B159;
    --text-color2: #FAE9B1;
    --font-family: 'Montserrat Alternates', sans-serif;
}
body{
    font-family: var(--font-family);
}

.appbtn{
    padding: 12px 30px;
    border-radius: 5px;
    border-width: 158px;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.3s;
    background-color: #CAAC66;
    color: white;
    text-transform: none;
}

/* Header */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
header{
    padding: 10px 0;
    position: absolute;
    width: 100%;
    top: 0;
}
nav ul{
    display: flex;
    gap: 30px;
}
nav ul li a{
    color: var(--text-color2);
    font-weight: 300;
    text-transform: uppercase;
    transition: 0.3s;
}

nav ul li a:hover{
    color: var(--primary-color);
    transform: scale(1.1);
    background: transparent;
    text-decoration: underline;
}

.transparentbtn{
    background-color: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 12px;
}

.transparentbtn:hover{
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
}


/* hero */

.hero{
    background: url("../img/Group\ 12.jpg") no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero h1{
    color: white;
    font-family: montserrat;
}
.hero p{
    color: var(--text-color);
}
.herocontent{
    max-width: 700px;
    margin: auto;
}

section{
    padding: 70px;
}
/* About us */

.about_content_s_title{
    font-family: Kristi, sans-serif;
    font-size: 46px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 85%;
    text-transform: uppercase;
    background: linear-gradient(180deg, rgba(56, 50, 36, 0));
    -webkit-text-fill-color: aquamarine;
    margin-bottom: -20px;
}
.about_content_title{
    font-family: montserrat;
}

.about_content{
    padding-right: 18px;
    margin-top: 100px;
}
.about_content p{
    font-size: 18px;
}
.about_video{
    position: relative;
    margin-top: 30px;
    cursor: pointer;
}
.menus{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -50px;
    position: relative;
    z-index: 336;
    justify-content: center;
}
.menu{
    margin-right: 40px;
    position: relative;
    cursor: pointer;
    margin-bottom: 20px;
}
.menu img{
    border-radius: 5px;
}
.menu p{
    position: absolute;
    bottom: 7px;
    text-align: center;
    width: 100%;
    margin-bottom: 0;
    color: white;
}


/* Book */

.bookrow{
    background: url(../img/a23306d8d5a8a175ff3c587784354910ff8bd7da.jpg) no-repeat center center/cover;
}

.book_content_s_title{
    font-family: Kristi, sans-serif;
    font-size: 46px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 85%;
    text-transform: uppercase;
    background: linear-gradient(180deg, rgba(56, 50, 36, 0));
    -webkit-text-fill-color: rgb(190, 164, 164);
    margin-bottom: -20px;
}
.book_content_title{
    font-family: montserrat;
    color: white;
    font-size: 40px;
}
.input{
    width: 100px;
}














